table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

th,
td {
  border: 1px solid #8ea4b1;
  padding: 12px;
}

th {
  background-color: #24527a;
  color: white;
}

tbody tr:nth-child(even) {
  background-color: #eef5f8;
}
